<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
</head>
<body>
    <% if (isAdminView) { %>
        <a href="/admin">← Back to Dashboard</a>
    <% } else { %>
        <a href="/">← Back to Home</a>
    <% } %>

    <h1><%= article.title %></h1>

    <p>
        Published:
        <%= article.createdAt %>
    </p>
    <p>
        Last edited at:
        <%= article.lastModifiedAt %>
    </p>
    <hr>

    <p style="white-space: pre-wrap;">
        <%= article.content %>
    </p>
</body>
</html>